<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

<div class="row">
  <div class="column">
    <p><b> Alexander Braun </b><br>
Senior Vice President Digitalization and IT Systems and Chief Information Officer, Technical University of Munich <p>


<b> Kristine Collins </b><br>
Dean of Continuing Education, University of California, Irvine<p>

<b> José Escamilla </b><br>
Associate Director, Institute for the Future of Education, Tecnológico de Monterrey<p>

<b> Stephen Harmon </b><br>
Director of Education Innovation, Center for 21st Century Universities, Georgia Institute of Technology<p>

<b> Henry Leitner </b><br>
Associate Dean and Chief Innovation Technology Officer, Division of Continuing Education, Harvard University</p>

<b> Alberto Leporati </b> <br>
Associate Professor, Computer Science, Università degli Studi di Milano-Bicocca</p></p>
  </div>
  <div class="column">
 
<p><b> Christoph Meinel </b><br>
President and CEO, Hasso Plattner Institute for IT-Systems Engineering </p>

<b> Mihnea Moldoveanu </b><br>
Professor and Vice Dean of Learning and Innovation Rotman School of Management, University of Toronto</p>

<b> Krishna Rajagopal (chair) </b><br>
William A. M. Burden Professor of Physics, Massachusetts Institute of Technology</p>

<b> Richard Russo </b><br>
Dean, Extended Education, University of California, Berkeley</p>

<b> Heather Sheardown </b><br>
Dean, Faculty of Engineering, McMaster University</p>

<b> Willem van Valkenburg </b><br>
Executive Director TU Delft Extension School for Continuing Education, Technische Universiteit Delft</p></p>
  </div>
</div>
